################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AccountingSystemDemo/.vs/AccountingSystemDemo/CopilotIndices/18.0.991.28364
/AccountingSystemDemo/Application/AccountingSystemDemo.CommonApplication/bin/Debug/net10.0
/AccountingSystemDemo/.vs
/AccountingSystemDemo/Application/AccountingSystemDemo.CustomerApplication/bin/Debug/net10.0
/AccountingSystemDemo/Application/AccountingSystemDemo.CustomerApplication/obj
/AccountingSystemDemo/Application/AccountingSystemDemo.InvoiceApplication/bin/Debug/net10.0
/AccountingSystemDemo/Application/AccountingSystemDemo.InvoiceApplication/obj
/AccountingSystemDemo/Application/AccountingSystemDemo.PaymentApplication/bin/Debug/net10.0
/AccountingSystemDemo/Application/AccountingSystemDemo.PaymentApplication/obj
/AccountingSystemDemo/Domain/AccountingSystemDemo.CustomerDomain/bin/Debug/net10.0
/AccountingSystemDemo/Domain/AccountingSystemDemo.CustomerDomain/obj
/AccountingSystemDemo/Domain/AccountingSystemDemo.InvoiceDomain/bin/Debug/net10.0
/AccountingSystemDemo/Domain/AccountingSystemDemo.InvoiceDomain/obj
/AccountingSystemDemo/Domain/AccountingSystemDemo.PaymentDomain
/AccountingSystemDemo/Application/AccountingSystemDemo.PaymentApplication
/AccountingSystemDemo/Infrastructure/AccountingSystemDemo.CustomerInfrastructure/bin/Debug/net10.0
/AccountingSystemDemo/Infrastructure/AccountingSystemDemo.CustomerInfrastructure/obj
/AccountingSystemDemo/Infrastructure/AccountingSystemDemo.InvoiceInfrastructure/bin/Debug/net10.0
/AccountingSystemDemo/Infrastructure/AccountingSystemDemo.InvoiceInfrastructure/obj
/AccountingSystemDemo/Infrastructure/AccountingSystemDemo.PaymentInfrastructure/obj
/AccountingSystemDemo/Presentation/AccountingSystemDemo.Api.CustomerService/bin/Debug/net10.0
/AccountingSystemDemo/Presentation/AccountingSystemDemo.Api.CustomerService/obj
/AccountingSystemDemo/Presentation/AccountingSystemDemo.Api.InvoiceService/bin/Debug/net10.0
/AccountingSystemDemo/Presentation/AccountingSystemDemo.Api.InvoiceService/obj
/AccountingSystemDemo/Presentation/AccountingSystemDemo.Api.MainService/bin/Debug/net10.0
/AccountingSystemDemo/Presentation/AccountingSystemDemo.Api.MainService/obj
*.user
/AccountingSystemDemo/Presentation/AccountingSystemDemo.Web.Client/bin/Debug/net10.0
/AccountingSystemDemo/Presentation/AccountingSystemDemo.Web.Client/obj
/AccountingSystemDemo/Shared/AccountingSystemDemo.AppHost/bin/Debug/net10.0
/AccountingSystemDemo/Shared/AccountingSystemDemo.AppHost
/AccountingSystemDemo/Shared/AccountingSystemDemo.ServiceDefaults/bin/Debug/net10.0
/AccountingSystemDemo/Shared/AccountingSystemDemo.ServiceDefaults/obj
